{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": [2, {"ignore": ["mjs/"]}],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "jsx-a11y/click-events-have-key-events": 0,
    "import/extensions": ["error", "ignorePackages"],
    "no-param-reassign": [2, { "props": false }],
    "camelcase": ["error", { "ignoreDestructuring": true, "properties": "never" }]
  }
}
