<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta content="width=device-width, initial-scale=1 viewport-fit=cover" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00b4e5">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="msapplication-TileColor" content="#00b4e5">
    <meta name="theme-color" content="#00b4e5">
</head>
<body>
<div id="app"></div>
</body>
</html>
